<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>
    <link rel="stylesheet" href="../../static/adminResource/css/style.min.css">
    <link rel="stylesheet" href="../../static/adminResource/css/custom.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="../../static/adminResource/css/waves.min.css">

</head>

<body>


<div id="single-wrapper">
    <form action="/user/validateOTP" class="frm-single" method="post">
        <div class="inside">
            <div class="title"><img src="../../static/adminResource/image/predictor.png"
                                    style="height: 130px; width: 280px"></div>
            <!-- /.title -->
            <div class="frm-title"></div>
            <!-- /.frm-title -->
            <div class="frm-input"><input type="text" placeholder="OTP" name='passwordOTP' class="frm-inp"><i
                    class="fa fa-user frm-ico" style=""></i></div>
            <!-- /.frm-input -->


            <!-- /.clearfix -->
            <input type="submit" class="frm-submit" value="Submit"
                   style="background: linear-gradient(to right,#4caf50,#00BCD4)">


            <div class="frm-footer">University Predictor System</div>
            <!-- /.footer -->
        </div>
        <!-- .inside -->
    </form>
    <!-- /.frm-single -->
</div><!--/#single-wrapper -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="../..//static/adminResource/js/html5shiv.min.js"></script>
<script src="../..//static/adminResource/js/respond.min.js"></script>
<![endif]-->
<!--
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../static/adminResource/js/jquery.min.js"></script>
<script src="../../static/adminResource/js/modernizr.min.js"></script>
<script src="../../static/adminResource/js/bootstrap.min.js"></script>
<script src="../../static/adminResource/js/nprogress.js"></script>
<script src="../../static/adminResource/js/waves.min.js"></script>

<script src="../../static/adminResource/js/main.min.js"></script>
<script src="../../static/adminResource/js/mycommon.js"></script>
</body>
</html>