<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>
    <link rel="stylesheet" href="../../static/userResource/css/style.min.css">
    <link rel="stylesheet" href="../../static/userResource/css/custom.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="../../static/userResource/css/waves.min.css">

</head>

<body>

<div id="single-wrapper">
    <form action="/user/insertRegister" method="post" class="frm-single">
        <div class="inside">
            <div class="title"><strong>University</strong>Predictor</div>
            <!-- /.title -->
            <div class="frm-title">Register</div>
            <!-- /.frm-title -->
            <div class="frm-input"><input type="email" name="loginUsername" placeholder="Username" class="frm-inp"><i
                    class="fa fa-envelope frm-ico"></i></div>
            <!-- /.frm-input -->
            <div class="frm-input"><input type="text" name="registerFirstname" placeholder="Firstname"
                                          class="frm-inp"><i
                    class="fa fa-user frm-ico"></i></div>
            <!-- /.frm-input -->
            <div class="frm-input"><input type="text" name="registerLastname" placeholder="Lastname" class="frm-inp"><i
                    class="fa fa-lock frm-ico"></i></div>
            <!-- /.frm-input -->
            <div class="frm-input"><input type="text" name="registerContactNumber" placeholder="Contact Number"
                                          class="frm-inp"><i
                    class="fa fa-lock frm-ico"></i></div>
            <!-- /.frm-input -->
            <div class="frm-input">Gender :
                <input type="radio" name="registerGender" value="Male">Male
                <input type="radio" name="registerGender" value="Female">Female
            </div>
            <!-- /.frm-input -->
            <button type="submit" class="frm-submit">Register<i class="fa fa-arrow-circle-right"></i></button>
            <a href="/" class="a-link"><i class="fa fa-sign-in"></i>Already have account? Login.</a>
        </div>
    </form>


    <!-- /.frm-single -->
</div><!--/#single-wrapper -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="../..//static/userResource/js/html5shiv.min.js"></script>
<script src="../..//static/userResource/js/respond.min.js"></script>
<![endif]-->
<!--
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../static/userResource/js/jquery.min.js"></script>
<script src="../../static/userResource/js/modernizr.min.js"></script>
<script src="../../static/userResource/js/bootstrap.min.js"></script>
<script src="../../static/userResource/js/nprogress.js"></script>
<script src="../../static/userResource/js/waves.min.js"></script>

<script src="../../static/userResource/js/main.min.js"></script>
<script src="../../static/userResource/js/mycommon.js"></script>
</body>
</html>