<div class="fixed-navbar">
    <div class="float-left">
        <button type="button" class="menu-mobile-button fas fa-bars js__menu_mobile"></button>
        <h1 class="page-title">Home</h1>
    </div>
    <div class="float-right">


        <div class="ico-item">
            <i class="ti-user"></i>
            <ul class="sub-ico-item">
                <li><a href="/user/editRegister">Edit Profile</a></li>
                <li><a href="/user/loadResetPassword">Reset Password</a></li>
                <li><a href="/admin/logoutSession">Log Out</a></li>
            </ul>
        </div>
    </div>
</div>