<div class="main-menu">
    <header class="header">
        <a href="/user/loadDashboard" class="logo" style="font-size: 15px;">University Predictor System</a>
        <button type="button" class="button-close fa fa-times js__menu_close"></button>
    </header>
    <!-- /.header -->
    <div class="content">

        <div class="navigation">

            <!-- /.title -->
            <ul class="menu js__accordion">
                <li>
                    <a class="waves-effect" href="/user/loadDashboard"><i class="menu-icon ti-layers-alt"></i><span>User Dashboard</span></a>
                </li>

                <li>
                    <a class="waves-effect parent-item js__control" href="#"><i
                            class="menu-icon ti-marker-alt"></i><span>Manage blogs</span><span
                            class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a href="/user/loadFeedback">Post blog</a></li>
                        <li><a href="/user/viewFeedback">View blog</a></li>
                    </ul>

                </li>



                <li>
                    <a class="waves-effect parent-item js__control " href="#"><i class="menu-icon fas fa-search"></i><span>Manage Prediction</span><span
                            class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a href="/user/loadPrediction">Perform Prediction</a></li>
                        <li><a href="/user/viewPrediction">View Prediction</a></li>
                    </ul>

                </li>
                <li>
                    <a class="waves-effect parent-item js__control " href="#"><i class="menu-icon ti-headphone-alt"></i><span>Manage Complain</span><span
                            class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a href="/user/loadComplain">Post Complain</a></li>
                        <li><a href="/user/viewComplain">View Complain</a></li>
                    </ul>

                </li>
                  <li>
                    <a class="waves-effect parent-item js__control " href="#"><i
                            class="menu-icon far fa-comment-alt"></i></i><span>Manage Feedback</span><span
                            class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a href="/user/loadBlog">post feedback</a></li>
                        <li><a href="/user/viewblogs">view feedback</a></li>
                    </ul>

                </li>




            </ul>
            <!-- /.menu js__accordion -->
        </div>
        <!-- /.navigation -->
    </div>
    <!-- /.content -->
</div>
<!-- /.main-menu -->